@using Microsoft.SharePoint.Client
@if((bool)System.Web.HttpContext.Current.Session["logged"])
{
<h1 class="grey-color">Uprawnienia przyznane</h1>
}
else{
<h1 class="grey-color">Nie masz uprawnień do zarządzania stroną</h1>
}