@using Microsoft.SharePoint.Client
@if((bool)System.Web.HttpContext.Current.Session["logged"])
{
<h1 style="color: #aaaaaa">Uprawnienia przyznane</h1>
}
else{
<h1 style="color: #aaaaaa">Nie masz uprawnień do zarządzania stroną</h1>
}