@model List<E_LearningWeb.Models.Movie>

<ul class="nav nav-pills nav-stacked" id="ListOfMovies">
    @foreach (var item in Model)
    {
        <li class="inline-block">
            <a href="@Url.Action("Index", "Video", new {videoUrl = @item.VideoUrl})">
                <h3>@item.Title</h3>
            </a>
            @if ((bool)System.Web.HttpContext.Current.Session["logged"])
            {
                <button type="button" class="btn btn-default">
                    <span class="glyphicon glyphicon-remove"></span>
                </button>
            }
        </li>

    }
</ul>

@if ((bool)System.Web.HttpContext.Current.Session["logged"])
{
    <button class="btn btn-primary marginTop" type="button" id="addressSearch"
            onclick="location.href = '@Url.Action("AddMovie", "Admin",
                                          new {SPHostUrl = System.Web.HttpContext.Current.Session["SharepointContext"]}))'">
        <h3> Add new movie </h3>
    </button>
}