@using E_LearningWeb.Models
@using Microsoft.SharePoint.Client
@model List<Course>


<div class=" col-lg-11 col-lg-offset-1">
    <div class="row search-panel">
        <div class="input-group">
            <span class="input-group-addon mouse-pointer search-icon">
                <i class="glyphicon glyphicon-search"></i>
            </span>
            <input type="text" class="search-input" placeholder="Search" id="SearchInput" />
        </div>
    </div>

    <div class="row search-panel">
        <h3><span class="path-description">Paths</span></h3>
        <ul class="list-inline col-lg-offset-1 categories">
            <li class="pathLi div-link selected"><h4>All</h4></li>
            <li class="pathLi div-link"><h4>Back-End</h4></li>
            <li class="pathLi div-link"><h4>Front-End</h4></li>
        </ul>
    </div>
</div>
<div class="div-clear"></div>
<div class="col-lg-11 col-lg-offset-1">
    <div class="matgin-top">
        @foreach (var item in Model)
        {
            <div class="col-lg-5 course-div @item.Path"
                 onclick="window.location.href=('/Course/Index?courseId=' + @item.Id)">
                <img src=@item.ImageUrl alt="">
                <span class="course-div-header">@item.Title</span>
                <span class="course-div-footer">@item.NumberOfMovies Movies</span>
            </div>
        }
    </div>

</div>
