@model E_LearningWeb.ViewModels.CourseViewModel

<div id="TableOfContent" class="col-lg-12 section-content-course">

    <div class="row" style="margin-left: 15px">
        <div class="input-group">
            <span class="input-group-addon mouse-pointer search-icon">
                <i class="glyphicon glyphicon-search"></i>
            </span>
            <input type="text" class="search-input" placeholder="Search" id="SearchInput" />
        </div>
    </div>

  @Html.Partial("Movies")
</div>

@*@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/rateit")

<script type='text/javascript'>
    @foreach (var item in Model)
    {
        <text>
    $("#@item.Id").starRating({
        initialRating: @item.Rating,
        strokeColor: '#894A00',
        strokeWidth: 10,
        starSize: 25,
        callback: function(currentRating, $el) {
            $.ajax({
                type: "POST",
                url: "/Course/AddVote",
                data: { movieId: @item.Id, rating: currentRating },
                success: function(msg) {
                },
                error: function(e) {
                }
            });
        }
    }); </text>
    }
</script>*@